body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
}

header {
    text-align: center;
}

main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 50%;

    section{
        width: 25%;
    }

    #formSubmission{
        display: flex;
        flex-direction: column;
    }
}
